@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@font-face {
    font-family: 'Bold Marker';
    src: url('../fonts/bold-marker.ttf');
}

:root {
    --base-bg-color: #fafaea;
    --primary-color: #e98d31;
    --seconary-color: #30b1e6;
    --tertiary-color: white;
    background-color: rgb(44, 42, 42);
} 
/* Receipt Styling */
.receipt {
    position: fixed;
    left: 3vw;
    top: 4vh;
    width: 27vw;
    height: 92vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.receipt-info {
    background-color: var(--base-bg-color);
    height: 6vh;
    padding-top: 2vh;
    text-align: center;
    border-radius: 20px 20px 0 0 ;
}
.cart {
    background-color: var(--base-bg-color);
    width: 27vw;
    height: 56vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 0 0 20px 20px;
    overflow-y: auto;
}
.receipt-table {
    border-spacing: 0;
    border-collapse: collapse;
}
.receipt-cell {
    border: 1px solid var(--primary-color);
    border-left: 0;
    border-right: 0;
}
.item-container {
    display: grid;
    grid-template-rows: repeat(6, 2vh);
    grid-template-columns: 8vw 8vw 10vw;
}
.receipt-cell img {
    grid-row: 3 / 5;
    grid-column: 1 / 2;
    width: 7vw;
    align-self: center;
    justify-self: center;
}
.receipt-cell img[alt="Cola"] {
    width: 4.5vw;
}
.receipt-cell img[alt="Chips"] {
    width: 4.5vw;
}
.item-quantity {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    align-self: flex-end;
}
.edit-button {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
    align-self: flex-start;
    height: 2.5vh;
    width: 4vw;
    border-radius: 10px;
}
.item-name {
    grid-row: 2 / 4;
    grid-column: 3 / 4;
    justify-self: flex-end;
    align-self: center;
    text-align: end;
    line-height: 15px;
}
.item-price {
    grid-row: 5 / 6;
    grid-column: 3 / 4;
    justify-self: flex-end;
    align-self: flex-end;
    font-weight: bold;
}
.checkout-total {
    width: 27vw;
    height: 20vh;
}
.total-table {
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1vw;
    padding-left: 2vw;
    height: 18vh;
    width: 25vw;
    background-color: white;
    border-radius: 10px;
    border-collapse: collapse;
}
.total-cell {
    display: grid;
    grid-template-rows: 4vh;
    grid-template-columns: 3vw 12vw 5vw;
    align-items: center;
}
.total-cell div{
    font-size: 1.5em;
}
.total-label {
    grid-column: 2 / 3;
}
.total-amount {
    justify-self: flex-end;
}
.checkout-buttons {
    height: 8vh;
    width: 27vw;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
}
.checkout-buttons button {
    width: 13vw;
    height: 8vh;
    border-radius: 20px;
    font-size: 1em;
    color: white;
}
.cancel-button {
    background-color: #f02626;
}
.pay-button {
    background-color: #2cae0b;
}
/* Main Content Styling */
.main-content {
    position: fixed;
    right: 3vw;
    top: 4vh;
    width: 64vw;
    height: 92vh;
    background-color: var(--base-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}
.header {
    width: 64vw;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-box {
    position: absolute;
    width: 62vw;
    height: 16vh;
    margin: 0;
    background-color: var(--base-bg-color);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    text-align: center;
    color: var(--primary-color);
    font-size: 3em;
    font-family: 'Bold Marker', cursive;
    text-shadow: 3px 3px #2d0801;
}
.checkered-strip {
    width: 64vw;
    height: 20vh;
    background: conic-gradient(
        var(--primary-color) 90deg,
        var(--tertiary-color) 90deg 180deg,
        var(--primary-color) 180deg 270deg,
        var(--tertiary-color) 270deg
    );
    background-repeat: repeat ;
    background-size: 5vw 5vw;
    background-position: top left;
    border-radius: 20px 20px 0 0;
}
.food-gallery {
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 18vw); 
    grid-template-rows: 22vw;
    row-gap: 5vh;
    column-gap: 3vw;
    background-color: transparent;
}
.item-card {
    width: 18vw;
    height: 22vw;
    display: grid;
    grid-template-rows: 8vw 14vw;
    justify-items: center;
    text-align: center;
    background-color: #fdf7dc;
    border: 3px solid var(--primary-color);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.food-name {
    margin: 0;
    align-self: center;
    color: var(--primary-color);
    font-family: 'Bold Marker', cursive;
    text-shadow: 2px 2px #2d0801;
}
.item-card img {
    width: 10vw;
    align-self: center;
}
.item-card[data-id="burger"] img {
    width: 16vw;
}
.item-card[data-id="combo"] img {
    width: 13vw;
}
.item-card[data-id="cola"] img {
    width: 8vw;
}
.item-card[data-id="chips"] img {
    width: 8vw;
}
.slider {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    border-radius: 15px;
    height: 4vh;
    background: #ccc;
    margin: 10vh 2vw;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 10vh;
    width: 11vh;
    background-image: url("../images/logo.webp");
    background-size: cover;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent grey background */
    z-index: 1000; /* Ensure it appears above other elements */
}

/* Hidden class to toggle visibility */
.popup-overlay.hidden {
    display: none;
}

/* Disable clicks on main content when overlay is active */
.main-screen.disabled {
    pointer-events: none;
    overflow: hidden;
}

/* Popup content */
.popup {
    position: fixed;
    background: white;
    width: 64vw;
    height: 92vh;
    top: 4vh;
    left: 32vw;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 1vh 4vw; */
}

.popup img {
    height: 50%;
}
.close-button {
    background-color: transparent;
    width: 5vw;
    height: 5vw;
    border: none;
    align-self: flex-start;
    margin: 1vh;
    padding: 0;
    line-height: 0;
    text-align: center;
    font-size: 4em;
    color: black;
}

/* Follower Popup */
#follower-popup p {
    width: 56vw;
}