<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/end.css') }}">
    <title>Buff Boy Burgerz</title>
</head>
<body>
    <div class="flyer">
        <h1>THANKS FOR BEING A BUFF BOY!!!</h1>
        <div class="ground"></div>
        <img src="{{ url_for('static', filename='images/logo.png') }}">
        <p>
            YOUR ORDER IS ON THE WAY!
        </p>
    </div>
</body>
<script type="module" src="{{ url_for('static', filename='js/end.js') }}"></script>