<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Buff Boy Burgerz</title>
</head>
<body>
    <div class="header">
        <h1>Buff Boy Burgerz</h1>
    </div>

    <div class="header-scroll-block"></div>

    <div class="sidebar">
        <a href="/">Transaction Dashboard</a>
        <a href="#">Finished Orders</a>
        <a href="{{ url_for('start') }}">Kiosk</a>
    </div>

    <div class="main-content-background"></div>
    <div class="main-content">
        <h2>Transactions Dashboard</h2>

        <div class="transaction-summary">
            <div class="transaction-detail">
                <h3>Total Burgers Sold</h3>
                <p id="total-burgers-sold"></p>
            </div>
            <div class="transaction-detail">
                <h3>Total Burgers Left</h3>
                <p id="total-burgers-left"></p>
            </div>
        </div>

        <table id="prompt-table">
            <tbody></tbody>
        </table>

        <table id="in-progress-table" class="transactions-table">
            <thead>
                <tr>
                    <td class="transaction-header-cell">
                        <div class="transaction-header-label">Orders In Progress</div>
                        <button class="transaction-button">Finish</button>
                    </td>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td class="transaction-cell">
                        <div class="transaction-name">Orgil Tsetsendelger</div>
                        <div class="transaction-order">1 Burger</div>
                        <div class="transaction-price">$7.00</div>
                        <div class="transaction-time">12:15 PM</div>
                        <img src="{{ url_for('static', filename='images/venmo.svg') }}">
                        <button class="transaction-button">Finish</button>
                    </td>
                </tr> -->
            </tbody>
        </table>
        <table id="queue-table" class="transactions-table">
            <thead>
                <tr>
                    <td class="transaction-header-cell">
                        <div class="transaction-header-label">Orders In Queue</div>
                    </td>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td class="transaction-cell">
                        <div class="transaction-name">John Doe</div>
                        <div class="transaction-order">1 Burger</div>
                        <div class="transaction-price">$7.00</div>
                        <div class="transaction-time">12:15 PM</div>
                        <img src="./images/venmo.svg">
                        <button class="transaction-button">Finish</button>
                    </td>
                </tr> -->
            </tbody>
        </table>    
    </div>
    </body>
<script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
<script type="module" src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>
