<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/start.css') }}">
    <title>Buff Boy Burgerz</title>
</head>
<body>
    <div class="flyer">
        <h1>BUFF BOY BURGERZ</h1>
        <div class="ground"></div>
        <img src="{{ url_for('static', filename='images/logo.png') }}">
        <button>START ORDER</button>
    </div>
</body>
<script type="module" src="{{ url_for('static', filename='js/start.js') }}"></script>