<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tip.css') }}">
    <title>Buff Boy Burgerz</title>
</head>
<body>
    <div class="main-screen">
        <div class="receipt">
            <div class="receipt-header">
                <button class="back-button">back</button>
            </div>
            <div class="cart">
                <table class="receipt-table">
                    <tbody id="receipt-table-body">
                        <!-- <tr>
                            <td class="receipt-cell">
                                <div class="item-container">
                                    <img src="./burger.png" alt="Classic Smash Burger" class="food-image">
                                    <div class="item-quantity">Quantity: 1</div>
                                    <div class="item-name">Classic Smash Burger</div>
                                    <div class="item-price">$8.00</div>
                                </div>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
            <div class="checkout-total">
                <table class="total-table">
                    <tbody>
                        <tr>
                            <td class="total-cell">
                                <div class="total-label">Subtotal:</div>
                                <div class="total-amount" id="subtotal-field">$0.00</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="total-cell">
                                <div class="total-label">Discounts:</div>
                                <div class="total-amount" id="discounts-field">$0.00</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="total-cell">
                                <div class="total-label">Tip:</div>
                                <div class="total-amount" id="tip-field">$0.00</div>
                            </td>
                        </tr>
                        <tr>
                            <td class="total-cell">
                                <div class="total-label">Total:</div>
                                <div class="total-amount" id="total-field">$0.00</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="main-content">
            <button class="back-button">Back</button>
            <h2>Tip</h2>
            <p>
                No obligation to tip us! But if you liked our service, why not show us some love?
            </p>
            <div class="value">$0</div>
            <input class="slider" type="range" value="0" min="0" max="10"/>
            <button class="confirm-button">Confirm</button>
        </div>
    </div>
</body>
<script type="module" src="{{ url_for('static', filename='js/tip.js') }}"></script>